
h1{
	text-align:center;
	font-family:Garamond;
}
ul{
list-style-type:none;
margin:0;
padding:0;
overflow:hidden;
background-color:black;
	}
li{
float:right;
}
li a{
	display:block;
	color:white;
	text-align:center;
	padding:14px 16px;
	text-decoration:none;
}

li a:hover{
background-color:white;
color:black;
}
.navig ul{
	list-style:none;
	display:flex;
	padding:0;
	margin:0;
}
.navig ul li a {
	display:block;
	padding:14px 20px;
	text-decoration:none;
}
.navig ul li ul{
	display:none;
	position:absolute;
	top:100%;
	padding:0;
	margin:0;
	list-style:none;
}

a{
	color:black;
}
h2{
	
	text-align:center;
}
.head{
position: absolute;
	left:20px;
    top: 67%;
    right:20px;
    width:95%;
    color:white;
    font-family:"Yu Gothic Light";
	
}

.heading{
	font-style:italic;
	text-align:center;
	color:navy;
	font-family:"Brush Script MT", cursive;
	font-size:x-large;
}
body{
	background-color:beige;
}
table{
	background-color:black;
	margin-top:30%;
	padding-top:40px;
}
    ul{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color:white;
    text-align:center;
}

.social{
    display:flex;
    gap:5px;
}
.icon{
    width:30px ;
    height: 30px;
    background-color: #003849 ;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration:none;
}
h4{
	
	
	text-transform:capitalize;
	margin-top:50px;
	
}
hr{
	
	margin-top:-4%;
	width:90%;
}
p{
	
	margin-top:0%;
	text-align:center;
	margin-top: 1%;
	color:white;
}


