//*body color*//
body{
	background-color:beige;
}
//*filter*//
.aside{
	float:left;
}
//*heading*//
h1{
	text-align:center;
	font-family:Garamond;
}
h2{
	
	text-align:center;
}

//*marquee*//
   marquee{
	font-size:large;
	font-family:"Britannic Bold";
}
//*image text*//
.head{
position: absolute;
	left:20px;
    top: 67%;
    right:20px;
    width:95%;
    color:white;
    font-family:"Yu Gothic Light";
	
}
//*slogan*//
.heading{
	font-style:italic;
	text-align:center;
	color:navy;
	font-family:"Brush Script MT", cursive;
	font-size:x-large;
}

table{
	background-color:black;
	margin-top:30%;
	padding-top:40px;
}
    ul{
    list-style-type: none;
}
li a {
    text-decoration: none;
    color:white;
    text-align:center;
}



.social{
    display:flex;
    gap:5px;
}
.icon{
    width:30px ;
    height: 30px;
    background-color:#0B092A;
    border: 2px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
    text-decoration:none;
}
h4{
	
	
	text-transform:capitalize;
	margin-top:50px;
	color:white;
	
}
hr{
	
	margin-top:-4%;
	width:90%;
}
p{
	
	margin-top:0%;
	text-align:center;
	margin-top: 1%;
	color:white;
}
 .slider {
      width: 150%;
      margin-top:5%;
      max-width: 1250px;
      max-height:900px;
      position: relative;
      overflow: hidden;
      border:thin solid navy;
      border-radius: 20px;
    }

    .slides {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slide {
      min-width: 100%;
      transition: 0.5s;
    }

    .slide img {
      width: 100%;
      display: block;
    }

        
    .btn {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, 0.5);
      color: white;
      border: none;
      padding: 10px 20px;
      cursor: pointer;
      border-radius: 50%;
    }
      .btn:hover {
      background: rgba(0, 0, 0, 0.8);
    }

    #prev {
      left: 10px;
    }

    #next {
      right: 10px;
    }
 //*featured properties*//
h2{
	font-family:Garamond;
}	

.container{
	display:grid;
	grid-template-columns:auto auto;
	background-color:#0B092A;
	padding:10px;
	}
.container>div{
	border:1px solid black;
	padding:10px;
	text-align:center;
}	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	.
}


